.callout {
  display: flex;
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 10px;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 16px;
  line-height: 1.4rem;
}

.calloutIcon {
  padding-top: 0.25rem;
}
