.callout {
  display: flex;
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem 0rem 0rem;
  font-size: 16px;
  line-height: 1.4rem;
  justify-items: start;
  align-items: center;
}

.calloutIcon {
  padding-top: 0.25rem;
  width: auto;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .callout {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }

  .calloutIcon {
    width: 100%;
    padding: 0.25rem 0rem 0.25rem 0rem;
  }
}
