.footer {
  grid-area: footer;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 8vh;
  z-index: 10;
}

.footerWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 8vh;
  z-index: 10;
}

.logo {
  margin: auto;
  width: 2.5rem;
}
