.footerWrapper {
  position: fixed;
  height: 4rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 90;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .logo {
    width: 36px;
  }
}
