.footer {
  grid-area: footer;
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0rem 2.5rem 0rem 2.5rem;
  width: 100vw;
  height: 10vh;
  z-index: 30;
}

.footerWrapper {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
  height: 10vh;
  z-index: 30;
}

.logoWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  justify-content: end;
  align-items: center;
  width: 90vw;
  z-index: 30;
}

.navBarLogo {
  margin: auto;
  width: 2.5rem;
}

.logo {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 1rem;
}

.navMenuControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: auto;
  height: 10vh;
  gap: 1rem;
}

/* Small devices (landscape tablets, 600px and below) */

@media only screen and (max-height: 600) {
  .footer {
    min-height: 20vh;
  }
}

@media only screen and (max-height: 700px) {
  .footer {
    min-height: 15vh;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding-right: 1rem;
  }

  .navMenuControls {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    height: 8vh;
  }

  .logo {
    width: 2rem;
    margin: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    height: 6vh;
  }

  .logo {
    width: 2.5rem;
    margin: auto;
  }
}

@media only screen and (min-width: 1920px) {
  .footer {
    height: 4vh;
  }

  .logo {
    width: 2.25rem;
    margin: auto;
  }
}




