.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border-top-width: 1px;
  border-top-color: #011627;
  border-style: solid;
  margin-top: 64px;
  height: 128px;
  width: auto;
}

.logo {
  width: 5%;
  height: 100%;
}
