.kcLinkWrapper {
  margin: 1rem 0rem 1rem 0rem;
}

.kcLinkCollapsed {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-items: space-between;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.kcLinkExpanded {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-items: space-between;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  cursor: pointer;
}

.kcLinkIcon {
  padding-right: 1rem;
}

.teaser {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 1.5rem;
  width: 2.5rem;
  height: 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
}

.teaserLinkIcon {
  text-align: center;
  width: 100%;
}

.teaserBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  text-wrap: pretty;
}

@media only screen and (max-width: 600px) {
  .kcLinkWrapper {
    font-size: 16px;
  }
}
