.kcLinkWrapper {
  position: relative;
  margin: 1rem 0rem 2rem 0rem;
}

.kcLinkButtons {
  display: flex;
}

.kcLinkCollapsed {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-radius: 0.5rem;
}

.kcLinkDescription {
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: 700;
}

.kcLinkExpanded {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-items: space-between;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.kcLinkIcon {
  padding-right: 1rem;
}

.teaserLinkIcon {
  text-align: center;
  width: 100%;
}

.teaserBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  text-wrap: pretty;
}

@media only screen and (max-width: 600px) {
  .kcLinkWrapper {
    font-size: 16px;
  }
}
