.tocCollapsed {
  display: flex;
  justify-items: between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 1rem 0rem 0rem 0rem;
}

.tocHeader {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.tocWrapper {
  display: flex;
  flex-direction: column;
}

.toc {
  padding: 1rem 0rem 0rem 2rem;
}
