.parallax {
  /* The image used */
  background-image: url("../../../public/images/kraus-cloud-lab.webp");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productImage {
  float: left;
}
