.socialLinksWrapper {
  display: flex;
  justify-items: space-between;
  padding: 1rem 0 1rem 0;
}

.socialLinks {
  padding: 0 0.5rem 0 0;
  cursor: pointer;
}

.aboutTheWriter {
  padding: 2rem 0 1.5rem 0;
}

.logo {
  float: right;
  padding: 1rem 0 1rem 1rem;
}

.logoWrapper {
  padding: 2rem 0 0 1rem;
}

@media only screen and (max-width: 600px) {
  .logo {
    padding: 1.5rem 0 0 0;
  }
}
