.socialLinksWrapper {
  display: flex;
  justify-items: space-between;
  padding: 1rem 0 1rem 0;
}

.socialLinks {
  padding: 0 0.5rem 0 0;
  cursor: pointer;
}

.aboutTheWriterHeader {
  padding: 2rem 0 1rem 0;
}

.aboutTheWriterWrapper {
  flex: auto;
  padding: 0;
  margin: 0;
  max-height: max-content;
}

.logo {
  margin: auto;
  padding: 1rem 0 1rem 1rem;
}

.logoWrapper {
  padding: 2rem 0 0 0;
}

.headshot {
  float: left;
  padding: 1rem 1rem 0 0;
  margin-bottom: 0;
  width: "33%";
  height: "auto";
}

@media only screen and (max-width: 600px) {
  .headshot {
    float: left;
    padding: 1rem 1rem 0 0;
    margin-bottom: 0;
    width: "33%";
    height: "auto";
  }

  .logo {
    padding: 2rem 0 1rem 1rem;
    width: 112px;
  }
}
