.imageCollapsed {
  display: flex;
  justify-items: between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0.5rem 0rem 0rem 0rem;
}

.imageHeader {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.toggleText {
  padding-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .imageCollapsed {
    line-height: 1.25rem;
  }
}
