.imageCollapsed {
  display: flex;
  justify-items: between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem 0rem 0rem;
}

.imageHeader {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-weight: 700;
}

.imageWrapper {
  margin-top: 0.5rem;
}
