.imageStyles {
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.imageToggle {
  cursor: pointer;
}

.toggleStyles {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
}

.toggleText {
  padding-left: 0.5rem;
}
