.imageCollapsed {
  display: flex;
  justify-items: between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0.5rem 0 0.5rem 0;
}

.imageHeader {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.toggleText {
  padding-left: 0.5rem;
}

.imageExpanded {
}
