/* Next JS Reset */

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.6rem;
  font-size: 18px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* End Next JS Reset */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* End Tailwind */

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-size: 28px;
  font-weight: 800;
  padding: 2rem 0 0.5rem 0;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 2rem 0 0.5rem 0;
}

p {
  padding: 0.25rem 0rem 0.25rem 0rem;
  font-weight: 300;
  line-height: 1rem;
}

ol,
ul {
  line-height: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 4rem 0.5rem 8rem 0.5rem;
  height: 100%;
}

.codeWrapper {
  border-radius: 1rem;
  padding-top: 1rem;
}

.headline {
  line-height: 1.8rem;
  font-style: italic;
  font-weight: 300;
}

.headlineWrapper {
  padding: 2rem 0rem 0.5rem 0rem;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 2rem 4rem 2rem;
  margin-top: 8rem;
}

.headshot {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.contact {
  margin-left: 1rem;
  font-weight: 600;
}

.toggle {
  display: flex;
  justify-items: center;
  align-items: center;
}

.orderedList {
  padding-left: 2.5rem;
  list-style-type: decimal;
}

.unorderedList {
  padding-left: 2rem;
  list-style-type: disc;
}

.secondOrderedList {
  padding-left: 1rem;
  list-style-type: lower-alpha;
}

.topScroller {
  -webkit-text-stroke: white 1px;
  padding-left: 0.5rem;
}

.dateStamp {
  font-style: italic;
}

.divider {
  border-bottom-width: 1px;
  border-style: solid;
  padding-top: 2rem;
}

.faintDivider {
  padding-top: 1rem;
  border-bottom-width: 0.5px;
  border-style: solid;
}

.path {
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .section {
    font-size: 16px;
    line-height: 1rem;
    padding-top: 2rem;
  }

  .divider {
    padding-top: 1rem;
  }

  .headline {
    line-height: 1.6rem;
  }

  .headlineWrapper {
    padding: 1rem 0rem 0rem 0rem;
  }

  p {
    line-height: 1.5rem;
  }

  h1 {
    font-size: 28px;
    padding: 1rem 0 1rem 0;
  }

  h2 {
    font-size: 24px;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 22px;
    line-height: 2.25rem;
    padding: 1rem 0 0.5rem 0;
  }

  h4 {
    font-size: 18px;
    line-height: 1.5rem;
  }

  li {
    line-height: 1.75rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  h2 {
    line-height: 1.7rem;
  }

  .section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    line-height: 1.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
  .section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
  .section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
  .section {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
}

/* Highlight.js Themes */

/*

Night Owl for highlight.js (c) Carl Baxter <carl@cbax.tech>

*/

/* General Purpose */

.hljs {
  border-radius: 10px;
  background: #011627;
  color: #d6deeb;
  display: block;
  overflow-x: auto;
}

.hljs-keyword {
  color: #c792ea;
  font-style: italic;
}

.hljs-built_in {
  color: #bad32c;
  font-style: italic;
}

.hljs-type {
  color: #82aaff;
}

.hljs-literal {
  color: #ff5874;
}

.hljs-number {
  color: #f78c6c;
}

.hljs-regexp {
  color: #5ca7e4;
}

.hljs-string {
  color: #ecc48d;
}

.hljs-subst {
  color: #d3423e;
}

.hljs-symbol {
  color: #82aaff;
}

.hljs-class {
  color: #ffcb8b;
}

.hljs-function {
  color: #82aaff;
}

.hljs-title {
  color: #dcdcaa;
  font-style: italic;
}

.hljs-params {
  color: #7fdbca;
}

/* Meta */

.hljs-comment {
  color: #637777;
  font-style: italic;
}

.hljs-doctag {
  color: #7fdbca;
}

.hljs-meta {
  color: #82aaff;
}

.hljs-meta .hljs-keyword {
  color: #82aaff;
}

.hljs-meta .hljs-string {
  color: #ecc48d;
}

/* Tags, attributes, config */

.hljs-section {
  color: #82b1ff;
}

.hljs-tag,
.hljs-name {
  color: #7fdbca;
}

.hljs-attr {
  color: #7fdbca;
}

.hljs-attribute {
  color: #80cbc4;
}

.hljs-variable {
  color: #addb67;
}

/* Markup */

.hljs-bullet {
  color: #d9f5dd;
}

.hljs-code {
  color: #80cbc4;
}

.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}

.hljs-strong {
  color: #addb67;
  font-weight: 500;
}

.hljs-formula {
  color: #c792ea;
}

.hljs-link {
  color: #ff869a;
}

.hljs-quote {
  color: #697098;
  font-style: italic;
}

/* CSS */

.hljs-selector-tag {
  color: #ff6363;
}

.hljs-selector-id {
  color: #fad430;
}

.hljs-selector-class {
  color: #addb67;
  font-style: italic;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}

/* Templates */

.hljs-template-tag {
  color: #c792ea;
}

.hljs-template-variable {
  color: #addb67;
}

/* diff */

.hljs-addition {
  color: #addb67ff;
  font-style: italic;
}

.hljs-deletion {
  color: #ef535090;
  font-style: italic;
}

.hover\:bg-primary-800:hover {
  --tw-bg-opacity: 1;
  background-color: hsl(
    var(--nextui-primary-800) /
      var(--nextui-primary-800-opacity, var(--tw-bg-opacity))
  );
}

.hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: hsl(
    var(--nextui-primary-500) /
      var(--nextui-primary-500-opacity, var(--tw-text-opacity))
  );
}

.focus\:bg-primary-800:focus {
  --tw-bg-opacity: 1;
  background-color: hsl(
    var(--nextui-primary-800) /
      var(--nextui-primary-800-opacity, var(--tw-bg-opacity))
  );
}

.light\:bg-secondary-500.light {
  --tw-bg-opacity: 1;
  background-color: hsl(
    var(--nextui-secondary-500) /
      var(--nextui-secondary-500-opacity, var(--tw-bg-opacity))
  );
}

.light\:text-accent.light {
  --tw-text-opacity: 1;
  color: hsl(
    var(--nextui-accent) / var(--nextui-accent-opacity, var(--tw-text-opacity))
  );
}

.light\:bg-secondary-500[data-theme="light"] {
  --tw-bg-opacity: 1;
  background-color: hsl(
    var(--nextui-secondary-500) /
      var(--nextui-secondary-500-opacity, var(--tw-bg-opacity))
  );
}

.light\:text-accent[data-theme="light"] {
  --tw-text-opacity: 1;
  color: hsl(
    var(--nextui-accent) / var(--nextui-accent-opacity, var(--tw-text-opacity))
  );
}
