.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  width: 5rem;
  margin-left: 1rem;
}

.postMain {
  padding-left: 32px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
  z-index: 10;
  margin-top: 2rem;
  padding-bottom: 8rem;
}

.posts > li {
  list-style-type: none;
}

.postWrapper {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  position: relative;
  width: 100%;
  z-index: 20;
  padding-left: 1rem;
}

.postTitle {
  font-size: 28px;
  font-weight: 500;
}

.postTagline {
  margin-top: -6px;
}

.postLink {
  text-decoration: none;
  padding-top: 1.25rem;
  line-height: 2rem;
}

.postData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.postLength {
  font-weight: 600;
  padding-left: 0.5rem;
}

.postIndex {
  font-weight: 100;
  font-size: 46px;
  padding-bottom: 8px;
}

.postsContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.postBackground {
  z-index: 10;
  position: absolute;
  top: 12px;
  height: 128px;
  width: 100%;
  opacity: 30%;
  border-radius: 0.5rem;
}

.postsContainer:hover .postBackground {
  opacity: 100%;
  /* transition the background-color over 1s with a linear animation */
  transition: opacity 0.3s linear;
  color: white;
}

.postsContainer:hover .postLevel,
.postsContainer:hover .postTitle,
.postsContainer:hover .postTagline,
.postsContainer:hover .postDate {
  color: white;
}

.postImageContainer {
  position: relative;
  width: 125px;
  height: 125px;
}

.postImage {
  border-radius: 0.5rem;
}

.postLevel {
  display: flex;
  line-height: 1rem;
  font-size: 14px;
}

.postDate {
  padding-right: 0.5rem;
}

.postDateLengthSpacer {
  position: relative;
}

.postsDescription {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}

.postsMessage {
  font-weight: 600;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .postBackground {
    top: 16px;
    height: 100%;
    width: 100%;
    opacity: 30%;
  }

  .postImageContainer {
    position: relative;
    width: 92px;
    height: 92px;
  }

  .postLink {
    padding-top: 1rem;
    line-height: 2rem;
  }

  .postTagline {
    margin-top: -12px;
    font-size: 14px;
    line-height: 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }

  .postTitle {
    font-size: 22px;
    font-weight: 500;
  }

  .postLevel {
    line-height: 0.5rem;
    font-size: 12px;
  }

  .posts {
    margin-top: 1rem;
  }

  .postsDescription {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: italic;
  }

  .postsMessage {
    font-size: 1rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }

  .logo {
    width: 20%;
  }
}
