.homepage {
  padding-top: 6rem;
}

.postMain {
  padding-left: 32px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
}

.posts > li {
  list-style-type: none;
}

.postWrapper {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  position: relative;
  width: 100%;
  z-index: 20;
  padding-left: 1rem;
}

.postTitle {
  font-size: 28px;
  font-weight: 500;
}

.postTagline {
  margin-top: -6px;
}

.postLink {
  text-decoration: none;
  padding-top: 1.25rem;
  line-height: 2rem;
}

.postData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.postLength {
  font-weight: 600;
}

.postNumber {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.postIndex {
  font-weight: 100;
  font-size: 46px;
  padding-bottom: 8px;
}

.postsContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.postBackground {
  z-index: 10;
  position: absolute;
  top: 12px;
  height: 128px;
  width: 100%;
  opacity: 30%;
  border-radius: 10px;
}

.postsContainer:hover .postBackground {
  opacity: 100%;
  /* transition the background-color over 1s with a linear animation */
  transition: opacity 0.3s linear;
  color: white;
}

.postsContainer:hover .postLevel,
.postsContainer:hover .postTitle,
.postsContainer:hover .postTagline,
.postsContainer:hover .postDate {
  color: white;
}

.postImageContainer {
  position: relative;
  width: 125px;
  height: 125px;
}

.postImage {
  border-radius: 10px;
}

.postLevel {
  display: flex;
  line-height: 1rem;
  font-size: 14px;
}

.postDateLengthSpacer {
  padding: 0 0.5rem 0 0.5rem;
  position: relative;
}

.postsMessage {
  font-weight: 200;
  padding-bottom: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .homepage {
    padding-top: 2rem;
  }
  .postBackground {
    top: 16px;
    height: 92px;
    width: 100%;
    opacity: 30%;
    border-radius: 10px;
  }

  .postImageContainer {
    position: relative;
    width: 92px;
    height: 92px;
  }

  .postLink {
    padding-top: 1rem;
    line-height: 2rem;
  }

  .postTagline {
    margin-top: -12px;
    font-size: 14px;
  }

  .postTitle {
    font-size: 22px;
    font-weight: 500;
  }

  .postLevel {
    line-height: 0.5rem;
    font-size: 12px;
  }

  .postsMessage {
    text-align: right;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
}
