.kcLinkBtn {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin-left: 0.75rem;
}

@media only screen and (max-width: 600px) {
  .kcLinkBtn {
    outline-width: 1px;
    margin: 0rem 0.5rem 0.15rem 0.5rem;
  }
}
