.kcLinkBtn {
  border-radius: 0.5rem;
  padding: .25rem .5rem .25rem .5rem;
  margin-left: 0.75rem;
  opacity: 75%;
}

@media only screen and (max-width: 600px) {
  .kcLinkBtn {
    outline-width: 1px;
    font-size: 16px;
  }
}
