.navbar {
  display: flex;
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-color: #011627;
  border-style: solid;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 64px;
  z-index: 100;
}

.navbarControls {
  display: flex;
  align-content: center;
  justify-items: space-between;
  margin: auto;
  width: 33%;
  height: 100%;
}

.navButton {
  z-index: 100;
  border-radius: 10px;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 32px; /* Position the navbar at the top of the page */
  right: 33%;
  width: 64px;
  height: 64px;
  border-width: 1px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.navButtonContols {
  width: 100%;
  height: 100%;
}

.navMenu {
  z-index: 100;
  border-radius: 10px;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 32px; /* Position the navbar at the top of the page */
  right: 33%;
  height: 64px;
  width: auto;
  border-width: 1px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.navMenuContols {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
}

.navMenuLinks {
  display: flex;
  justify-items: center;
  align-items: center;
}

.navMenuLink {
  padding-left: 2rem;
}

.navbarMinimalButton {
  padding-left: 0.5rem;
  font-size: 32px;
}

.navbarControlsLeft {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem, 0, 0, 1rem;
}

.navItem {
  padding-left: 1rem;
}

.navbarLinks {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
}

.navbarLinkItem {
  height: 100%;
  margin-right: 2.5rem;
  text-align: center;
  vertical-align: middle;
}

.navbarLink {
  height: 100%;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .navButton {
    border-radius: 10px;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 32px; /* Position the navbar at the top of the page */
    right: 1rem;
    width: 64px;
    height: 64px;
    border-width: 1px;
    border-color: black;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }

  .navButtonContols {
    width: 100%;
    height: 100%;
  }

  .navMenu {
    border-radius: 10px;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 32px; /* Position the navbar at the top of the page */
    right: 1rem;
    height: 64px;
    width: auto;
    border-width: 1px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }

  .navMenuContols {
    width: 100%;
    height: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
  .navButton {
    border-radius: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 1rem; /* Position the navbar at the top of the page */
    right: 25%;
    width: 64px;
    height: 64px;
    border-width: 1px;
    border-color: black;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }

  .navMenu {
    z-index: 100;
    border-radius: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 1rem; /* Position the navbar at the top of the page */
    right: 25%;
    height: 64px;
    width: auto;
    border-width: 1px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
}
