.navMenu {
  position: fixed;
  display: flex;
  margin-top: 3rem;
  width: 100vw;
  z-index: 40;
  padding-left: 0.5rem;
  height: 10vh;
}

.navMenuControls {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
  gap: 1.5rem;
  z-index: 40;
}
