.navbar {
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-color: #011627;
  border-style: solid;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 72px;
  z-index: 100;
}

.navbarControls {
  display: flex;
  align-content: center;
  justify-items: space-between;
  margin: auto;
  width: 33%;
  height: 100%;
}

.navbarMinimalButton {
  margin-left: 0.5rem;
  font-size: 32px;
}

.navbarControlsLeft {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem, 1rem, 1rem, 1rem;
}

.navbarLinks {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
}

.navbarLinkItem {
  height: 100%;
  margin-left: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

.navbarLink {
  height: 100%;
}
