.navButton {
  position: fixed;
  display: flex;
  justify-items: end;
  align-content: center;
  z-index: 100;
  height: 64px;
  margin-right: -1.25rem;
  padding: 0 1rem 0 1rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.navButton:hover {
  opacity: 100%;
}

.navButtonContols {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navMenu {
  position: fixed;
  display: flex;
  justify-items: end;
  align-content: center;
  z-index: 100;
  height: 64px;
  margin-right: -1.25rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.navMenu:hover {
  opacity: 100%;
}

.navMenuControls {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navMenuLink {
  cursor: pointer;
  padding: 0 1rem 0 1rem;
}

.navMenuIcon {
  opacity: 50%;
}

.navMenuIcon:hover {
  opacity: 100%;
}

.navMenuLinks {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 64px;
}

.navWrapper {
  display: flex;
  justify-content: end;
  align-content: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .navWrapper {
    width: 80%;
    display: flex;
    align-content:  center;
    padding-top: 1rem;
  }

  .navMenu {
    position: fixed;
    padding-top: 0;
    bottom: .5rem;
    right: 2rem;
  }

  .navButton {
    position: fixed;
    padding-top: 0;
    bottom: .5rem;
    right: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .navWrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
 .navWrapper {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
  .navWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
  .navWrapper {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }
}
