.navBar {
  display: flex;
  justify-content: end;
  align-content: center;
}

.navMenu {
  position: fixed;
  display: flex;
  justify-items: space-between;
  margin-top: 12rem;
  z-index: 100;
  border-radius: 0.5rem;
}

.navMenuControls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 1023px) {
  .navMenu {
    position: fixed;
    display: flex;
    bottom: 0.5rem;
    right: 0rem;
  }

  .navMenuControls {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 1024px and up) */

@media only screen and (min-width: 1024px) {
  .navBar {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1440px) {
  .navBar {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
  .navBar {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
  }
}
