.navbar {
  display: flex;
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-color: #011627;
  border-style: solid;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 64px;
  z-index: 100;
}

.navbarControls {
  display: flex;
  align-content: center;
  justify-items: space-between;
  margin: auto;
  width: 33%;
  height: 100%;
}

.navbarMinimalButton {
  margin-left: 0.5rem;
  font-size: 32px;
}

.navbarControlsLeft {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem, 1rem, 1rem, 1rem;
}

.navbarLinks {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
}

.navbarLinkItem {
  height: 100%;
  margin-left: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

.navbarLink {
  height: 100%;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .navbarControls {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .navbarControls {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
  .navbarControls {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
  .navbarControls {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
  .navbarControls {
    width: 33%;
  }
}
