.navButton {
  position: fixed;
  display: flex;
  justify-items: end;
  align-content: center;
  z-index: 100;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.navButtonContols {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.navMenu {
  position: fixed;
  display: flex;
  justify-items: space-between;
  margin-top: 1rem;
  z-index: 100;
  border-radius: 0.5rem;
  margin-right: 1rem;
  width: 16%;
}

.navMenuControls {
  display: flex;
  justify-items: space-between;
  width: 100%;
  height: 100%;
  padding-right: 0.75rem;
}

.navMenuLink {
  padding: 0rem 0rem 0rem 2rem;
  text-align: center;
}

.navMenuIcon {
  cursor: pointer;
}

.navMenuIcon:hover {
  opacity: 100%;
}

.navMenuLinks {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0rem 0.75rem 0rem;
}

.navWrapper {
  display: flex;
  justify-content: end;
  align-content: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Design */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .navWrapper {
    width: 92%;
    display: flex;
    align-content: center;
  }

  .navMenu {
    position: fixed;
    padding-top: 0;
    bottom: 0.5rem;
    right: 2rem;
  }

  .navButton {
    position: fixed;
    bottom: 0.5rem;
    right: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .navWrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
  .navWrapper {
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
  .navWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
  .navWrapper {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }
}
