.navWrapper {
  display: flex;
  justify-content: end;
  align-content: center;
  width: 33%;
}

.navMenu {
  position: fixed;
  display: flex;
  justify-items: space-between;
  margin-top: 12rem;
  z-index: 100;
  border-radius: 0.5rem;
}

.navMenuControls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navMenuLink {
  padding: 0rem 0rem 0rem 2rem;
  text-align: center;
}

/* Responsive Design */

@media only screen and (max-width: 1023px) {
  .navBar {
    margin-right: -12rem;
  }

  .navMenu {
    position: fixed;
    padding-top: 0;
    bottom: 0.5rem;
    right: 0rem;
  }

  .navMenuControls {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 1024px) {
  .navBar {
    margin-right: -6rem;
  }

  .navWrapper {
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 1440px and up) */

@media only screen and (min-width: 1439px) {
  .navWrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1920px and up) */

@media only screen and (min-width: 1920px) {
  .navWrapper {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
