/* Amazon Associate Links */

.amazonLink {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 0rem 0rem 0rem;
  justify-items: space-between;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.amazonLinkIcon {
  padding-right: 1rem;
}
